{% extends "base.html" %}
{% block title %}{{band}} - Live Band Photos Mobile{% endblock %}
{% block title1 %}{{band}} - Live Band Photos Mobile{% endblock %}
{% block title2 %}{{band}} - Live Band Photos Mobile{% endblock %}
{% block title3 %}{{band}} - Live Band Photos Mobile{% endblock %}
{% block title4 %}{{band}} - Live Band Photos Mobile{% endblock %}
{% block head %}
<!-- Head block -->
{% endblock %}
{% block body %}
<!-- Body block -->
<div class="row">
    <div class="container">
        <h2>{{band}} Gigs</h2>

        <!-- This weeks gigs go here! -->
    </div>
</div>
{% endblock %}
