<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml" xmlns="http://www.w3.org/1999/xhtml"
      xml:lang="en" lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    <meta property="fb:app_id" content="272719132852965"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{% block title2 %}{% endblock %}"/>
    <meta property="og:site_name" content="www.livebandphotos.com"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="Live Band Photos"/>
    <meta name="title" content="{% block title1 %}{% endblock %}"/>
    <meta name="twitter:site" content="@livebandphotos"/>
    <meta name="twitter:creator" content="@livebandphotos"/>
    <meta name="twitter:title" content="{% block title3 %}{% endblock %}"/>
    <meta name="application-name" content="Live Band Photos Mobile"/>
    <link rel="dns-prefetch" href="//www.livebandphotos.com"/>
    {% if track %}
    <link rel="dns-prefetch" href="//ssl.google-analytics.com"/>
    <link rel="dns-prefetch" href="//www.google-analytics.com"/>
    {% endif %}
    <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet"/>
    <link rel="icon" href="https://www.livebandphotos.com/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="https://www.livebandphotos.com/favicon.ico" type="image/x-icon"/>
    <link type="text/plain" rel="author" href="https://www.livebandphotos.com/humans.txt"/>
    <link rel="author" href="https://plus.google.com/+livebandphotos/?rel=author"/>
    <link href="https://www.livebandphotos.com{{path}}" rel="canonical"/>
    {% block head %}{% endblock %}
</head>
<body>
<div>
    <div class="row">
        <div class="container"><h1>{% block title4 %}{% endblock %}</h1></div>
    </div>
    {% block body %}{% endblock %}
    <div class="row">
        <div class="container">
            <hr/>
            <h2><a href="https://www.livebandphotos.com/">Livebandphotos (Mobile)</a></h2>
            <p>This is a cutdown version of livebandphotos.co.uk for use on mobiles. To view the full site please go to
                <a href="http://www.livebandphotos.co.uk/">Livebandphotos.co.uk</a>.</p>
            <hr/>
            <p>The <a href="https://www.livebandphotos.com/">LiveBandPhotos.com</a> mobile and backup site hosted by <a
                    href="http://www.markridgwell.com/">Mark Ridgwell Photography</a>.</p></div>
    </div>
    {% if track %}
    <script>(function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o), m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-487408-6', 'livebandphotos.com');
    ga('require', 'linkid', 'linkid.js');
    ga('send', 'pageview');</script>
    {% endif %}<a href="https://www.michelesreiki.co.uk"></a>
</body>
</html>